# macOS
.DS_Store

# Swift build artifacts
.build/
*.app
*.zip
.swiftpm/

# Logs
logs
*.log
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
