<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>PromptLibrary Explorer Thumbnails</string>
	<key>CFBundleExecutable</key>
	<string>PLXQuickLookThumbnail</string>
	<key>CFBundleIdentifier</key>
	<string>com.artofficial.promptlibrary-explorer.quicklook-thumbnail</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PLXQuickLookThumbnail</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>com.artofficial.mood.mlmboard</string>
				<string>com.artofficial.story.project</string>
				<string>com.artofficial.story.mlseq</string>
				<string>com.artofficial.plib</string>
				<string>com.artofficial.aoe</string>
			</array>
			<key>QLThumbnailMinimumDimension</key>
			<integer>0</integer>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.thumbnail</string>
		<key>NSExtensionPrincipalClass</key>
		<string>PLXThumbnailProvider</string>
	</dict>
</dict>
</plist>
